.icon-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .icon-bar a {
    width: 18rem;
    background: #3b5999;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.7rem;
    padding: 0.5rem;
    transition: all 0.5s linear;
    transform: translateX(-14.5rem);
  }
  
  .icon-bar a:hover {
    transform: translateX(0);
  }
  
  .icon-bar a .fab {
    padding-left: 1rem;
    font-size: 3rem;
    animation: letszoom 3s linear alternate-reverse infinite;
  }
  
  @keyframes letszoom {
    from {
      transform: scale(0.6);
    }
    to {
      transform: scale(0.9);
    }
  }
  
  .icon-bar .twitter {
    background: #00aced;
  }
  
  .icon-bar .instagram {
    background: #e4405f;
  }
  
  .icon-bar .youtube {
    background: #cd201f;
  }
  
  .icon-bar .facebook {
    background: #0077b5;
  }
  .icon-bar .telegram {
    background: yellowgreen;
  }